# Database Mode (sqlite | turso | supabase | pocketbase)
DATABASE_MODE=turso

# Turso Configuration
TURSO_DATABASE_URL="libsql://database-aureolin-zebra-vercel-icfg-3u3w3vvbm3v8uvyu7ik2a9pf.aws-ap-south-1.turso.io"
TURSO_AUTH_TOKEN="eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3ODU1MTUzOTEsImlkIjoiMDE5ZmI5MDItYjkwMS03NWJjLWEzZTEtOWFlNDI1NTYxYWQxIiwia2lkIjoiVWVoRWVGMFBOclI0ck05aTNkbVZyVVlSaWRWa3ozWnhFcE94em1rZGFDWSIsInJpZCI6IjY4YTBhMDJmLWU3MjgtNDJjNy1hYTg0LTE4MDZkNWZlNDY1OCJ9.Sj_iIfEUvIW_efZkYsLym4IEG7y35gYbNe830gMd82IZSGST5xF5_OWgJA3vj_MasJ3ZXjJPsObhc4V7y2jKAQ"

# JWT Secret (generate with: openssl rand -hex 32)
JWT_SECRET=inctl-internal-security-secret-key-2024

# Optional: Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Optional: PocketBase
POCKETBASE_URL=http://127.0.0.1:8090