# Database Mode (sqlite | turso | supabase | pocketbase)
DATABASE_MODE=turso

# Turso Configuration
TURSO_DATABASE_URL="libsql://wash-erp-vercel-icfg-yzia1ledylqyxuhruzqrwqah.aws-us-east-1.turso.io"
TURSO_AUTH_TOKEN="eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3NzgxMzg0MzMsImlkIjoiMDE5ZTAxNGYtNDgwMS03Nzc1LWIwNDQtYTA1YzJhMTE0NzQ1IiwicmlkIjoiN2RjNGVhMWItMWZkMy00YzM4LWI1Y2UtYjk4MzUyNmJhMjNmIn0.JJAKk6dYyAIrInNtQrBBmZcUq0ryaWypHUbO8Abomtek8QCkFlp76x1HD9bxPgeSoLBEGjP7cFYIyGJMq1vpBA"


# JWT Secret (generate with: openssl rand -hex 32)
JWT_SECRET=inctl-internal-security-secret-key-2024

# Optional: Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Optional: PocketBase
POCKETBASE_URL=http://127.0.0.1:8090
